@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";

*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: 'Ubuntu' sans-serif;
    margin: 0;
}

.navbar {
}

.image-nav {
}

.navbar-item {
    color: black;
}

.main {
    background-color: #FCF8ed;
    margin-top: 0;
    height: 200vh;
    display: flex;
    justify-content:space-between;
}

.hero {
    display: flex;
    flex-direction: column;
    background-image: url("./images/Posh-1600x800.jpg");
    height: 80vh;
    align-self: center;
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment:fixed;
    align-items: center;
    justify-content: center;
    -webkit-filter: grayscale(50%);
    filter: grayscale(50%);
}

.hero-body {
    height: 100vh;
    width: 100vw;
}

.book-now-btn {
    display: flex;
    justify-content: center;
    text-align: right;
    border: solid black 1px;
    background: whitesmoke;
    color: #BC9E9E;
    padding: 5px 25px;
    display: inline-block;
    font-family:'Dancing Script', cursive;
    font-size: 30px;
    cursor: pointer;
    transition-duration: 1s;
    box-shadow: 0 7px 14px 0, 0px 0px 0;
}

.book-now-btn:hover {
    background-color: #BC9E9E;
    color: whitesmoke;
    box-shadow: 0 7px 14px 0, 0 17px 50px 0;
}

/* #blankDiv {
    display:flex;
    width: 917px;
} */

.main-header {
    text-align: center;
    font-family:'Dancing Script', cursive;
    font-size: 60px;
    font-weight: bold;
    /* color: #BC9E9E; */
}

.subtitle-header {
    text-align: center;
    font-size: 35px;
    font-family:'Dancing Script', cursive;
    margin-bottom: 30px;
    color:  #BC9E9E;
    
}

.main-text {
    margin-bottom: 100px;
}

.main-text-end {
    font-family: fantasy;
    /* font-family: 'Allison', cursive; */
}

.posh-image-1 {
    padding-left: 20px;
    margin-bottom: 50px;
}