@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";

*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: 'Ubuntu' sans-serif;
    margin: 0;
}

.navbar {
}

.image-nav {
}

.navbar-item {
    color: black;
}

.nav-booknow-hvrbtn {
    border: solid black 1px;
    background-color: #BC9E9E;
    color: whitesmoke;
    padding: 8px 20px;
    /* border-radius: 40px; */
    box-shadow: 0 5px 10px 0, 0px 0px 0;
    transition: ease-out 500ms;
}

.nav-booknow-hvrbtn:hover {
    background-color: #DACDCD;
    color: #464646;
    transition-duration: 500ms;
    box-shadow: 0 5px 10px 0, 0 10px 30px 0;
}

.main {
    background-color: #FCF8ed;
    margin-top: 0;
    height: 200vh;
    display: flex;
    justify-content:space-between;
}

.hero {
    display: flex;
    flex-direction: column;
    background-image: url("./images/Posh-1600x800.jpg");
    height: 75vh;
    align-self: center;
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment:fixed;
    align-items: center;
    justify-content: center;
    -webkit-filter: grayscale(50%);
    filter: grayscale(50%);
    text-align: center;
}

.hero-body {
    /* margin-top: 325px !important; */
    position: absolute;
    bottom: 100px;
    left: 160px;
    /* height: 100vh;
    width: 100vw; */
}

.book-now-btn {
    border: solid black 1px;
    background: whitesmoke;
    /* color: #BC9E9E; */
    color:#464646;
    padding: 5px 35px;
    display: inline-block;
    font-family:'Dancing Script', cursive;
    font-size: 30px;
    cursor: pointer;
    transition-duration: 1s;
    box-shadow: 0 7px 14px 0, 0px 0px 0;
    overflow: hidden;
}

.book-now-btn:hover {
    background-color: #BC9E9E;
    color: whitesmoke;
    box-shadow: 0 7px 14px 0, 0 17px 50px 0;
    transition: ease-out 500ms;
}

.hero-text {
    display: flex;
    justify-content: center;
    font-size: 50px;
    font-family: Derivia-Regualar;
    color: whitesmoke
}

.has-inline-font {
    display: flex;
    justify-content: center;

}

.main-header {
    text-align: center;
    font-family:'Dancing Script', cursive;
    font-size: 60px;
    font-weight: bold;
    /* color: #BC9E9E; */
}

.subtitle-header {
    text-align: center;
    font-size: 35px;
    font-family:'Dancing Script', cursive;
    margin-bottom: 30px;
    color:  #BC9E9E;
    
}

.main-text {
    margin-bottom: 40px;
}

.main-text-end {
    font-family: fantasy;
    /* font-family: 'Allison', cursive; */
}

.exploreNow-btn {
    margin-bottom: 80px;
    margin-left: 45%;
    text-align: right;
    border: solid black 1px;
    background: #BC9E9E;
    color: whitesmoke;
    padding: 5px 25px;
    display: inline-block;
    font-family:'Dancing Script', cursive;
    font-size: 25px;
    cursor: pointer;
    transition-duration: 100ms;
    box-shadow: 0 5px 10px 0, 0px 0px 0;
}

.exploreNow-btn:hover {
    background-color: #DACDCD;
    color: #464646;
    box-shadow: 0 5px 10px 0, 0 10px 30px 0;
}

.container-posh-img-1 {
    position: relative;
}

.img-text-topleft {
    position: absolute;
    top: 50px;
    left: 70px;
  }



footer {
    text-align: center;
    color: black;
    font-family: 'Dancing Script', cursive;
    font-size: 20px;
}